<p id="notice"><%= notice %></p>
<p><%= image_tag @blog.image.url %></p>
<p><%= @blog.content %></p>

<% unless @blog.user_id == current_user.id %>
<% if @favorite.present? %>
  <%= link_to "お気に入り解除する",favorite_path(id: @favorite.id), method: :delete %>
<% else %>
  <%= link_to "お気に入りする", favorites_path(blog_id: @blog.id), method: :post %>
<% end %>
<% end %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
<%= link_to '削除', blog_path(@blog.id) ,method: :delete %>
