
<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<div class="user_box clearfix">
  <p class="photo_user"><%= image_tag @user.image.url %></p>
  <% if current_user.id == @user.id %>
    <p><%= link_to "編集", edit_user_path(@user.id) %></p>
  <% end %>
</div>

<% @blogs.each do |blog| %>
  <p><%= image_tag(blog.image.url) %></p>
  <p><%= blog.content %></p>
<% end %>
