
<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<div class="user_box clearfix">
  <p class="photo_user"><%= image_tag @user.image.url %></p>
  <% if current_user == @user %>
    <p><%= link_to "編集", edit_user_path(@user.id) %></p>
  <% end %>
</div>

<% @blogs.each do |blog| %>
  <div class="feed center-block">
    <p><%= link_to image_tag(blog.image.url, class: "img-responsive"), blog_path(blog.id) %></p>
    <div class="sentence_area"><p><%= link_to blog.content, blog_path(blog.id) %></p></div>
  </div>
<% end %>
